/*universal styles*/
body {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* CSS For Navbar */

button, p {
    font-family: Montserrat, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
font-family: Dela Gothic One;
}

.navButton {
    font-family: Montserrat, sans-serif;
    background: #639B6D;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
}

.navHeading {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    letter-spacing: -0.02em;
    padding-top: 40px;
}

.navline {
    border-bottom: 2px solid #a7a7a7;
}

/* CSS For Main */

main {
    padding-top: 40px;
}

.pa-1{
    width: 375px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    color: #2B788B;
    white-space: nowrap;
}

.h1-1 {
    width: 531px;
    height: 268px;
    /* Headings/Heading 1 */
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
}

.pa-2 {
    width: 396.89px;
    height: 50px;
    /* Text/Body 1 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}
