/*universal styles*/
header, body {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* CSS For Navbar */

button, p {
    font-family: Montserrat, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
font-family: Dela Gothic One;
}

.list-button {
    border: 10px solid #639B6D;
    background-color: #639B6D;
    border-radius: 12px;
    padding: 11px 18px;
    gap: 10px;
    width: 90px;
    height: 36px;
    background-color: #639B6D;
    margin-top: 10px;
}

.navButton {
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-top: -10px;
    margin-left: -10px;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: -0.04em;
    white-space: nowrap;
}

.navButton:hover {
    color: #FFFFFF;
}

.navHeading {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    letter-spacing: -0.02em;
    padding-top: 40px;
}

.navline {
    border-bottom: 2px solid #ebe9e9;
}

/* CSS For Main */

main {
    padding-top: 40px;
}

.left-right {
    display: flex;
    flex-direction: row;
}

.pa-1{
    width: 375px;
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    color: #2B788B;
    white-space: nowrap;
}

.h1-1 {
    width: 531px;
    height: 268px;
    /* Headings/Heading 1 */
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
}

.pa-2 {
    width: 396.89px;
    height: 50px;
    /* Text/Body 1 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
}

.img-1 {
    height: 36.42521667480469px;
    width: 144.22421264648438px;
    padding-left: 10px;
}

.nums{
    display: flex;
    flex-direction: column;
}

.nums2 {
    padding-left: 120px;
}

.img-2 {
    position: absolute;
    left: 580.5px;
    top: 380px;
    width: 123px;
    height: 131px;
    padding: 0px;
    margin: 0px;
}

.img-2-1 {
    position: absolute;
    width: 520.73px;
    height: 435.28px;
    left: 610.9px;
    top: 198px;
    padding: 0px;
    margin: 0px;
}

.img-2-2 {
    position: absolute;
    left: 900.9px;
    top: 210px;
    height: 490px;
    width: 350px;
    padding: 0px;
    margin: 0px;
}

.right-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}