main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
}

.intro {
    font-family: 'Delius', sans-serif;
    text-align: center;
    font-family: Delius;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.04em;
}

.card-title {
    font-family: 'Poppins', Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.card-text {
    font-family: 'Poppins', Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.card-border {
    border: 1px hidden;
    height: 156px;
    width: 449px;
    border-radius: 20px;    
}

.radioBut {
    position: relative;
    top: 14px;
    left: 15px;
    width: 34px;
    height: 34px;
    background: #FFFFFF;
}

.main-content {
    padding-left: 80px;
}
