main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    height: 38px;
    width: 1099px;
    left: 452px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.card-border {
    border: 5px, solid;
    border-radius: 70px ;
    width: 449px;
    height: 156px;
}
